



<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12"> -->
            <!-- <div class="col-md-6 offset-md-3" >             -->
                
<h3 style="text-align: center;margin: 2%;"> Viewflight Details</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-12"> 
    <div>
        <label> <b> Flight Name </b></label> {{particularFlight.flightName}}
    </div>
    <div>
        <label> <b> Flight Number </b></label> {{particularFlight.flightNumber}}
    </div>
    <div>
        <label> <b> Arrival city </b></label> {{particularFlight.arrivalCity}}
    </div>
    <div>
        <label> <b> Departure city </b></label> {{particularFlight.departureCity}}

    </div>
    <div>
        <label> <b> Laguage weight </b></label> {{particularFlight.laguageWeight}}
    </div>
    <div>
        <label> <b> Ticket cost </b></label> {{particularFlight.ticketCost}}
    </div>

    <div>
        <label> <b> IsDomestic </b></label> {{particularFlight.isDomestic}}
    </div>
    <div>
    <label> <b> Flight Rating </b></label> {{particularFlight.flightRating}}
    </div>
       
<!-- </div>
</div> -->
